<span class="@(string.Join(" ", itemClass))"
@onmouseover="OnMouseOver"
@onmouseout="OnMouseOut"
@onmousedown="OnMouseDown"
@onmouseup="OnMouseUp">
    @AsciiFromByte(Value)
</span>

@code {
    List<string> itemClass = new() { "hxdp-asciivalue" };
    bool IsHighlighted = false;

    [Parameter]
    public byte Value { get; set; } = 0x00;

    [Parameter]
    public (int, int) Coordinate { get; set; } = (0, 0);

    [CascadingParameter]
    public HexDump? Parent { get; set; }

    char AsciiFromByte(byte b)
    {
        if (b < 0x21 || b > 0x7E)
        {
            return '.';
        }
        return (char)b;
    }

    void OnMouseOver(MouseEventArgs args)
    {
        Hover();
        Parent?.HoverHexValue(Coordinate);
        if (Parent != null) Parent.LastHoveredAscii = Coordinate;
        StateHasChanged();
    }

    void OnMouseOut(MouseEventArgs args)
    {
        Unhover();
        Parent?.UnhoverHexValue(Coordinate);
        StateHasChanged();
    }

    void OnMouseDown(MouseEventArgs args)
    {
        if (Parent == null) return;
        Parent.AsciiClicked();
        Parent.StartCoordinate = Coordinate;
    }

    void OnMouseUp(MouseEventArgs args)
    {
        if (Parent == null) return;
        if (Parent.ClickedItemType != 2) return;
        Parent.StopCoordinate = Coordinate;
    }

    internal void Highlight()
    {
        if (IsHighlighted) return;
        itemClass.Add("hxdp-highlight");
        IsHighlighted = true;
    }

    internal void Unhighlight()
    {
        if (!IsHighlighted) return;
        itemClass.Remove("hxdp-highlight");
        IsHighlighted = false;
    }

    internal void Hover()
    {
        itemClass.Add("hxdp-hover");
        StateHasChanged();
    }

    internal void Unhover()
    {
        itemClass.Remove("hxdp-hover");
        StateHasChanged();
    }
}
