.hxdp-row,
.hxdp-main {
    display: flex;
    flex-direction: row;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
    font-size: small;
    overflow: auto;
}

.hxdp-col-line {
    padding-right: 7px;
    border-right: 2px solid #7f7f7f;
    text-align: right;
    color: steelblue;
    user-select: none;
}

.hxdp-col-hex {
    padding: 0 7px 0 7px;
    border-right: 2px solid #7f7f7f;
}

.hxdp-col-ascii {
    padding: 0 7px 0 7px;
}

.hxdp-linenum {
    width: 100%;
    display: block;
}

.hxdp-hexvalue {
    padding: 0 3px 0 3px;
    user-select: none;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.hxdp-hexvalue-splitter {
    margin: 0 3px 0 3px;
}

.hxdp-hexvalue-line {
    width: 100%;
    display: block;
}

.hxdp-asciivalue {
    padding: 0 1px 0 1px;
    user-select: none;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.hxdp-asciivalue-line {
    width: 100%;
    display: block;
}

.hxdp-highlight {
    background: steelblue;
    color: white;
}

.hxdp-hover {
    border: 1px solid #7f7f7f;
}

.hxdp-inspect-table {
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
    font-size: small;
    border-spacing: 7px 0;
    border-collapse: separate;
}

.hxdp-inspect-table thead td {
    font-weight: bold;
    border-bottom: 1px solid #7f7f7f;
}